.download {
  width: 320px;
  margin: 0 auto;
  background-color: #1d2631;
}

.download__application {
  .list-reset;
}

.download__caption {
  .indent-reset;
  padding-bottom: 28px;

  font-family: @ff-light;
  line-height: 24px;
  color: #ffffff;
}
