.page-header {
  display: flex;
  flex-direction: column;

  background: @bg-image;
}

@media (min-width: @tablet-width) {
  .page-header {
    background: @bg-darkblue url("../img/bg-back-tablet@1x.jpg") no-repeat 0 0;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    background: @bg-darkblue url("../img/bg-back-desktop@1x.jpg") no-repeat 0 0;
  }
}
