.photo-album__title {
  .indent-reset;

  font-family: @ff-light;
  color: #283645;
}

.photo-album__item {
  .indent-reset;
}

.photo-album__caption {
  padding-top: 25px;
  padding-bottom: 25px;

  color: #283645;

  background-color: @bg-lightgrey;
}

.photo-album__autor-name {
  font-weight: bold;
}

.photo-album__time {
  font-family: @ff-light;
  font-size: 12px;
  line-height: 24px;
}

.photo-album__text {
  .indent-reset;

  font-family: @ff-light;
  font-size: 14px;
  line-height: 24px;
}

.photo-album__like-text {
  .indent-reset;

  font-family: @ff-light;
  font-size: 12px;
  line-height: 24px;
  color: #d22856;
}
