body {
    margin: 0;
    padding: 0;
    min-width: 960px;
    font-family: Cuprum, Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;
    color: #000000;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-header {
    margin-bottom: 59px;
}

.inner-page .main-header {
    margin-bottom: 21px;
}

.main-header-top-menu {
    background-color: #293449;
}

.main-header-top-menu .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.main-header-top-menu a,
.main-header-top-menu input {
    display: block;
}

.main-header-bookmarks,
.main-header-basket {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    background-color: #293449;
}

.main-header-logo {
    width: 110px;
    padding: 10px 55px 8px;
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #ee3643;
    -webkit-box-shadow: 0 5px 0 0 #b52933;
    box-shadow: 0 5px 0 0 #b52933;
    z-index: 2;
}

.main-header-logo:hover {
    background-color: #ca2c37;
}

.main-header-logo:focus {
    background-color: #ba2732;
}

.header-form {
    position: relative;
}

.header-form::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 17px;
    width: 17px;
    height: 17px;
    background-image: url(../img/icon-search.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.header-form:hover::before {
    opacity: 1;
}

.header-form:focus::before {
    opacity: 0.5;
}

.main-header-seaech {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 270px;
    padding: 11px 140px 13px 48px;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    background-color: #293449;
    border: none;
    outline: 0;
}

.main-header-seaech::-webkit-input-placeholder {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
}

.main-header-seaech::-ms-input-placeholder {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
}

.main-header-seaech:-ms-input-placeholder {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
}

.main-header-seaech::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
}

.main-header-seaech:hover {
    color: #ffffff;
    background-color: #212a3a;
    border: none;
}

.main-header-seaech:focus {
    position: relative;
    z-index: 2;
    color: #000000;
    background: #ffffff url(../img/icon-search-active.svg) no-repeat 16px 12px;
}

.main-header-seaech:focus::-webkit-input-placeholder {
    color: #000000;
}

.main-header-seaech:focus::-ms-input-placeholder {
    color: #000000;
}

.main-header-seaech:focus:-ms-input-placeholder {
    color: #000000;
}

.main-header-seaech:focus::placeholder {
    color: #000000;
}

.main-header-bookmarks {
    position: relative;
    width: 80px;
    padding-left: 44px;
    padding-right: 26px;
}

.main-header-bookmarks::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 17px;
    width: 14px;
    height: 16px;
    background-image: url(../img/icon-bookmark.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.main-header-basket {
    position: relative;
    width: 76px;
    padding-left: 49px;
    padding-right: 25px;
}

.main-header-basket::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 18px;
    width: 15px;
    height: 15px;
    background-image: url(../img/cart-icon.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.main-header-bookmarks:hover,
.main-header-basket:hover {
    background-color: #212a3a;
}

.main-header-bookmarks:focus,
.main-header-basket:focus {
    color: rgba(255, 255, 255, 0.6);
    background-color: #161d29;
}

.main-header-bookmarks:hover::before,
.main-header-basket:hover::before {
    opacity: 1;
}

.main-header-bookmarks:focus::before,
.main-header-basket:focus::before,
.main-header-bookmarks:active::before,
.main-header-basket:active::before {
    opacity: 0.5;
}

.inner-page .main-header-basket {
    background-color: #ee3643;
}

.main-header-order-btn {
    width: 110px;
    padding: 12px 20px 12px 20px;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    background-color: #63a63e;
}

.main-header-order-btn:hover {
    background-color: #5fbb2d;
}

.main-header-order-btn:focus {
    color: rgba(255, 255, 255, 0.5);
    background-color: #518534;
}

.header-wrap {
    margin: 0;
    padding: 0;
    padding-bottom: 60px;
    background-color: #f3f7f8;
}

.header-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    padding-top: 46px;
}

.header-info h1 {
    width: 200px;
    margin: 0;
    padding: 0;
    margin-left: 52px;
    margin-right: 70px;
    padding-top: 3px;
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    font-weight: normal;
    color: #ee3643;
}

.header-contact-info {
    width: 270px;
    margin-right: 69px;
}

.inner-page .header-contact-info {
    margin-right: 51px;
}

.header-contact-info-phone {
    position: relative;
    margin: 0;
    margin-bottom: 3px;
    padding: 0;
    width: 145px;
    padding: 10px 50px 10px 70px;
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;
    border: 2px solid white;
}

.header-contact-info-phone::before {
    content: "";
    position: absolute;
    top: 11px;
    left: 13px;
    width: 19px;
    height: 19px;
    background-image: url(../img/icon-phone.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.header-contact-info-adress {
    margin: 0;
    padding: 0;
    padding-left: 8px;
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
}

.user-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 281px;
    margin: 0;
    margin-left: auto;
    padding: 0;
}

.user-navigation a {
    display: block;
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
}

.user-navigation a:hover {
    color: #ee3643;
}

.user-navigation a:focus {
    color: rgba(0, 0, 0, 0.3);
}

.login-link {
    margin-right: 10px;
}

.login-link a {
    position: relative;
    width: 48px;
    padding: 12px 26px 12px 46px;
}

.login-link a::before {
    content: "";
    position: absolute;
    top: 14px;
    left: 14px;
    width: 20px;
    height: 17px;
    background-image: url(../img/icon-login.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.login-link a:hover::before {
    background-image: url(../img/icon-login-blue.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.login-registration a {
    width: 102px;
    padding: 12px 24px 12px 24px;
}

.main-navigation {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 17px;
    line-height: 17px;
    color: #ffffff;
}

.user-navigation,
.site-navigation,
.main-slider,
.popular-items,
.service-list,
.service-slider,
.delivery-list {
    list-style: none;
}

.site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 940px;
    margin: 0;
    padding: 0;
    background-color: #32425c;
    -webkit-box-shadow: inset 0 -5px 0 0 #293449;
    box-shadow: inset 0 -5px 0 0 #293449;
}

.site-navigation a {
    display: block;
    vertical-align: middle;
    color: #ffffff;
    padding: 20px 31px 23px 30px;
}

.site-navigation ul {
    padding-left: 51px;
    padding-right: 51px;
}

.site-navigation a:hover {
    background-color: #293449;
}

.site-navigation a:focus {
    color: rgba(255, 255, 255, 0.5);
    background-color: #1d2739;
}

.container {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.menu {
    margin-bottom: 53px;
}

.menu-wrap-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
}

.menu-wrap-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.slider {
    position: relative;
}

.main-slider {
    width: 620px;
    height: 266px;
    margin: 0;
    padding: 0;
}

.main-slider li {
    position: relative;
}

.slider-wrap {
    position: absolute;
    padding-top: 23px;
    padding-left: 23px;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 105px;
}

.slider-item-caption {
    margin: 0;
    padding: 0;
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
}

.slider-item-text {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

.main-slider-btn {
    display: block;
    position: absolute;
    bottom: 30px;
    left: 25px;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 195px;
}

.main-slider-perforator,
.main-slider-drill {
    display: none;
}

.btn-next,
.btn-back {
    position: absolute;
    top: 114px;
    width: 22px;
    height: 40px;
    overflow: hidden;
    z-index: 25;
    border: none;
    cursor: pointer;
}

.btn-back {
    left: 25px;
    background: url("../img/icon-left.svg") no-repeat 0 0;
}

.btn-next {
    right: 20px;
    background: url("../img/icon-right.svg") no-repeat 0 0;
}

.slider-controls {
    position: absolute;
    bottom: 22px;
    left: 294px;
    z-index: 20;
    font-size: 0;
}

.slider-controls label {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-right: 10px;
    vertical-align: top;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

#product-1:checked ~ .slider #slide1,
#product-2:checked ~ .slider #slide2 {
    display: block;
}

#product-1:checked ~ .slider label[for="product-1"],
#product-2:checked ~ .slider label[for="product-2"] {
    background-color: #ee3643;
}

.button-slider-back {
    position: absolute;
    top: 10px;
    left: 0;
}

.menu-item {
    width: 278px;
    padding-top: 20px;
    padding-left: 22px;
    padding-bottom: 22px;
    margin-right: 20px;
}

.menu-item:nth-child(3n) {
    margin-right: 0;
}

.menu-item h3 {
    width: 140px;
    margin: 0;
    margin-bottom: 13px;
    padding: 0;
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
}

.button {
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    background-color: #ee3643;
    border: none;
    border-radius: 3px;
}

.menu-item-materials {
    position: relative;
    background-color: #ffbf47;
}

.menu-item-materials::after {
    content: "";
    position: absolute;
    top: 31px;
    right: 43px;
    width: 44px;
    height: 65px;
    background-image: url(../img/icon-1.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.new-item::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 59px;
    overflow: hidden;
    background: url("../img/new-flag.png") no-repeat 0 0;
}

.menu-item-tool {
    position: relative;
    background-color: #3bbce3;
}

.menu-item-tool::after {
    content: "";
    position: absolute;
    top: 33px;
    right: 28px;
    width: 75px;
    height: 61px;
    background-image: url(../img/icon-2.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.menu-item-tech {
    position: relative;
    background-color: #dc91d8;
}

.menu-item-tech::after {
    content: "";
    position: absolute;
    top: 31px;
    right: 31px;
    width: 78px;
    height: 62px;
    background-image: url(../img/icon-3.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.menu-wrap-item {
    margin-left: 20px;
}

.menu-item-discounts {
    position: relative;
    margin-right: 0;
    margin-bottom: 20px;
    background-color: #8ed78f;
}

.menu-item-discounts::after {
    content: "";
    position: absolute;
    top: 26px;
    right: 45px;
    width: 59px;
    height: 72px;
    background-image: url(../img/icon-4.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.menu-item-delivery {
    position: relative;
    margin-right: 0;
    background-color: #ffc047;
}

.menu-item-delivery::after {
    content: "";
    position: absolute;
    top: 31px;
    right: 31px;
    width: 78px;
    height: 63px;
    background-image: url(../img/icon-5.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.menu-item a {
    display: block;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 135px;
    background-color: rgba(0, 0, 0, 0.1);
}

.menu-item a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.menu-item a:focus {
    background-color: rgba(0, 0, 0, 0.3);
}

.btn-red {
    background-color: #ee3643;
}

.btn-red:hover {
    background-color: #ca2c37;
}

.btn-red:focus {
    background-color: #ba2732;
}

.title-btn-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 26px;
    padding-left: 26px;
    padding-right: 24px;
    margin-bottom: 20px;
    background-color: #f9f5f0;
}

.popular-btn {
    width: 253px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
}

.section-title {
    margin: 0;
    padding: 0;
    margin-top: 1px;
    width: 600px;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: #32425c;
    text-transform: uppercase;
}

.catalog-item h3 {
    min-height: 40px;
    margin: 0;
    padding: 0;
    padding: 0 25px;
    margin-top: 11px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 20px;
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    color: #000000;
}

.popular-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 940px;
    font-size: 0;
}

.catalog-item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 218px;
    margin-right: 20px;
    margin-bottom: 21px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #ccc;
}

.catalog-item-image {
    width: 218px;
    height: 168px;
}

.catalog-item-image img {
    max-width: 100%;
}

.popular-price .catalog-item:nth-child(4n) {
    margin-right: 0;
}

.price-past,
.price-btn {
    font-size: 17px;
    line-height: 18px;
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
}

.price-past {
    min-height: 20px;
    margin-bottom: 9px;
    color: #a9a9a9;
    text-decoration: line-through;
}

.price-btn {
    position: relative;
    width: 80px;
    margin: 9px auto;
    margin-bottom: 20px;
    padding: 10px 27px;
}

.price-btn::after {
    content: "";
    position: absolute;
    top: 0;
    right: -26px;
    width: 0;
    height: 0;
    border: 19px solid white;
    border-left-color: #ee3643;
}

.catalog-btn {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 218px;
    height: 88px;
    padding: 43px 0 40px 0;
    background-color: rgba(255, 255, 255, 0.9);
}

.catalog-btn-basket,
.catalog-btn-bookmarks {
    display: block;
    margin: 0 auto;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 18px;
    background-color: #63a63e;
}

.catalog-btn-basket {
    position: relative;
    padding: 10px 0;
    width: 135px;
    -webkit-box-shadow: inset 0 -3px 0 0 rgba(54, 115, 21, 0.9);
            box-shadow: inset 0 -3px 0 0 rgba(54, 115, 21, 0.9);
}

.catalog-btn-basket::before{
    content: "";
    position: absolute;
    top: 11px;
    left: 13px;
    width: 15px;
    height: 15px;
    background-image: url(../img/cart-icon.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3; 
}

.catalog-btn-basket:hover::before,
.catalog-btn-basket:focus::before{
  opacity: 1;  
}

.catalog-item:hover .catalog-btn {
    display: block;
}

.catalog-item:hover {
    -webkit-box-shadow: 0 10px 25px #aeb2ba;
    box-shadow: 0 10px 25px #aeb2ba;
}

.catalog-btn-basket:hover {
    background-color: #5fbb2d;
}

.catalog-btn-basket:focus {
    color: #ffffff;
    background-color: #518534;
    box-shadow: none;
}

.catalog-btn-bookmarks {
    padding: 7px 0;
    width: 129px;
    color: #32425c;
    background-color: #ffffff;
    border: 3px solid #63a63e;
}

.catalog-btn-bookmarks:hover {
    color: #32425c;
    background-color: #ffffff;
    border: 3px solid #32425c;
}

.catalog-btn-bookmarks:focus {
    color: rgba(50, 66, 92, 0.3);
    background-color: #ffffff;
    border: 3px solid rgba(50, 66, 92, 0.3);
}

.popular-brands {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-bottom: 65px;
    list-style: none;
}

.popular-brands a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.brands-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 218px;
    height: 143px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #c1c6ce;
}

.brands-item:nth-child(4n) {
    margin-right: 0;
}

.brands-item img {
    margin: auto;
}

.brands-item:hover {
    -webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
    box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.brands-item:active {
    -webkit-box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
    box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
}

.brands-item a:focus {
    opacity: 0.3;
}

.service {
    background-color: #f4f8f9;
    margin-bottom: 79px;
    padding-top: 65px;
    padding-bottom: 102px;
}

.service h2,
.about-company h2,
.contacts h2 {
    font-size: 30px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
    font-weight: normal;
    margin: 0;
    padding: 0;
    margin-bottom: 26px;
}

.service p {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    margin-bottom: 67px;
}

.slogan {
    width: 400px;
}

.service-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
}

.service-list {
    margin: 0;
    padding: 0;
    margin-right: 80px;
    margin-top: 1px;
}

.service-list label {
    display: block;
    width: 218px;
    padding-left: 22px;
    padding-top: 15px;
    padding-bottom: 16px;
    font-size: 21px;
    line-height: 30px;
    color: #ffffff;
    font-weight: bold;
    background-color: #32425c;
    -webkit-box-shadow: inset 0 -1px 0 0 #405069;
    box-shadow: inset 0 -1px 0 0 #405069;
}

.service-list label:last-child {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.service-item {
    width: 240px;
}

#delivery:checked ~ .service-slider .service-slider-delivery,
#guarantee:checked ~ .service-slider .service-slider-guarantee,
#credit:checked ~ .service-slider .service-slider-credit {
    display: block;
}

.service-list label:hover {
    background-color: #293449;
}

.service-list label:active {
    color: #32425c;
    background-color: #ffffff;
}

#delivery:checked ~ .service-list label[for="delivery"],
#guarantee:checked ~ .service-list label[for="guarantee"],
#credit:checked ~ .service-list label[for="credit"] {
    color: #32425c;
    background-color: #ffffff;
}

.service-slider {
    margin: 0;
    padding: 0;
}

.service-slider-item {
    width: 620px;
}

.service-slider-item strong {
    display: block;
    margin-bottom: 26px;
    font-size: 36px;
    line-height: 36px;
    color: #32425c;
    font-weight: normal;
    text-transform: uppercase;
}

.service-slider-item p {
    position: relative;
    padding: 0;
    margin: 0;
    z-index: 1;
}

.service-slider-delivery {
    display: none;
    position: relative;
    width: 285px;
    padding-right: 335px;

}

.service-slider-delivery::after {
    content: "";
    position: absolute;
    top: 25px;
    right: 0;
    width: 468px;
    height: 261px;
    background-image: url(../img/delivery-slider.png);
    background-repeat: no-repeat;
    background-position: 0 0;

}

.service-slider-guarantee {
    display: none;
    position: relative;
    width: 381px;
    padding-right: 239px;
}

.service-slider-guarantee::after {
    content: "";
    position: absolute;
    top: 3px;
    right: -7px;
    width: 389px;
    height: 283px;
    background-image: url(../img/guarantee-slider.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.service-slider-credit {
    display: none;
    position: relative;
    width: 285px;
    padding-right: 335px;
}

.service-slider-credit::after {
    content: "";
    position: absolute;
    top: 1px;
    right: -10px;
    width: 465px;
    height: 285px;
    background-image: url(../img/credit-slider.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.service-slider-credit p {
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
}

.service-btn {
    display: block;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 195px;
}

.about-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.about-company {
    width: 535px;
    margin-right: 90px;
}

.about-company p {
    display: block;
    font-family: "PT Sans", Arial, sans-serif;
}

.men-shopping {
    margin: 0;
    padding: 0;
    margin-bottom: 24px;
}

.delivery-ru {
    margin: 0;
    padding: 0;
    margin-bottom: 21px;
    width: 390px;
}

.delivery-list {
    width: 300px;
    margin: 0;
    padding: 0;
    margin-bottom: 36px;
}

.delivery-item {
    position: relative;
    font-size: 18px;
    line-height: 20px;
    margin-left: 36px;
    margin-bottom: 20px;
}

.delivery-item::before {
    content: "";
    position: absolute;
    top: 9px;
    left: -36px;
    width: 26px;
    height: 2px;
    border-top: 2px solid #ee3643;
}

.about-company-btn {
    display: block;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 220px;
}

.contacts {
    margin-left: auto;
}

.contacts p {
    margin: 0;
    padding: 0;
    margin-bottom: 31px;
    width: 180px;
    font-family: "PT Sans", Arial, sans-serif;
}

.contacts a {
    display: block;
}

.contacts-map {
    width: 300px;
    height: 158px;
    margin-bottom: 40px;
}

.contacts-btn {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 300px;
}

.user-order-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-left: 18px;
    width: 209px;
    list-style: none;
    text-decoration: underline;
    font-size: 16px;
    line-height: 18px;
}

.user-order-area a {
    display: block;
    color: #32425c;
}

.user-order-area a:hover {
    color: #ee3643;
}

.user-order-area a:focus {
    color: rgba(50, 66, 92, 0.3);
}

.inner-page .user-navigation {
    width: 299px;
    margin-bottom: 7px;
    background-color: #ffffff;
}

.user a {
    position: relative;
    width: 186px;
    padding: 12px 10px 12px 46px;
    font-size: 21px;
    line-height: 21px;
    color: #000000;
}

.user a:hover {
    color: #000000;
}

.user a:focus {
    color: rgba(0, 0, 0, 0.3);
}

.user a::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 13px;
    width: 20px;
    height: 18px;
    background-image: url(../img/icon-user.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.user a:hover::before {
    background-image: url(../img/icon-user-blue.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.user a:focus::before {
    background-image: url(../img/icon-user.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.exit {
    width: 60px;
    padding-top: 14px;
    padding-left: 26px;
}

.exit a {
    display: block;
    width: 21px;
    height: 17px;
    background-image: url(../img/icon-logout.svg);
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.exit a:hover {
    background-image: url(../img/icon-logout-blue.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.orders a {
    position: relative;
    padding-right: 30px;
}

.orders a::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 11px;
    width: 4px;
    height: 4px;
    background-color: #32425c;
    border-radius: 50%;
}

.breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    list-style: none;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
}

.breadcrumbs li {
    position: relative;
    margin-right: 40px;
}

.breadcrumbs li::after {
    content: "";
    position: absolute;
    top: 3px;
    right: -25px;
    width: 8px;
    height: 12px;
    background-image: url(../img/icon-right-small.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.breadcrumbs li:last-child {
    margin-right: 0;
}

.breadcrumbs-current::after {
    display: none;
}

.breadcrumbs a {
    display: block;
}

.home-icon {
    width: 14px;
    height: 12px;
    background-image: url(../img/icon-home.svg);
    background-repeat: no-repeat;
    background-position: 0 1px;
}

.breadcrumbs a:link,
.breadcrumbs a:visited,
.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
    color: #000000;
}

.page-title {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    padding: 31px 28px 28px;
    max-width: 940px;
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;
    font-weight: normal;
    background-color: #f2f6f8;
}

.catalog-columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 60px;
}

.filters {
    width: 220px;
}

.filters h2 {
    margin: 0;
    margin-bottom: 11px;
    padding: 0;
    padding-top: 11px;
    padding-left: 18px;
    padding-bottom: 9px;
    font-size: 13px;
    line-height: 18px;
    font-family: "PT Sans", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    background-color: #f7f3ec;
}

.filter fieldset {
    padding: 0;
    margin: 0;
    margin-bottom: 16px;
    border: none;
}

.filter legend {
    margin: 0;
    padding: 0;
    margin-bottom: 14px;
    font-size: 17px;
    line-height: 30px;
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.filter-item {
    margin: 0;
    padding: 0;
    width: 220px;
    border: none;
}

.range-filter {
    width: 220px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e5e5e5;
}

.range-controls {
    position: relative;
    height: 41px;
    margin-bottom: 9px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #f7f3ec;
    border-radius: 3px;
}

.range-controls .scale {
    height: 2px;
    background-color: #d7dcde;
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid #ffffff;
    background-color: #ababab;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 20px;
}

.range-controls .toggle-max {
    left: 160px;
}

.price-controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}


.filter input {
    width: 73px;
    padding: 4px 11px;
    font-size: 17px;
    line-height: 30px;
    font-family: "PT Sans", Arial, sans-serif;
    color: #000000;
    font-weight: normal;
    border: none;
    background-color: #f7f3ec;
    border-radius: 3px;
}

.price-controls input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 95px;
    padding-top: 9px;
    padding-bottom: 11px;
    font-size: 17px;
    line-height: 18px;
    font-family: "PT Sans", Arial, sans-serif;
    color: #000000;
    font-weight: normal;
    text-align: center;
}

.price-controls .line {
    width: 10px;
    height: 1px;
    margin-top: 19px;
    margin-left: 13px;
    margin-right: 9px;
    background-color: #444444
}

.price-placeholder::-webkit-input-placeholder {
    font-size: 17px;
    line-height: 30px;
    font-family: "PT Sans", Arial, sans-serif;
    color: #000000;
    font-weight: normal;
    background-color: #f7f3ec;
}

.price-placeholder::-ms-input-placeholder {
    font-size: 17px;
    line-height: 30px;
    font-family: "PT Sans", Arial, sans-serif;
    color: #000000;
    font-weight: normal;
    background-color: #f7f3ec;
}

.price-placeholder:-ms-input-placeholder {
    font-size: 17px;
    line-height: 30px;
    font-family: "PT Sans", Arial, sans-serif;
    color: #000000;
    font-weight: normal;
    background-color: #f7f3ec;
}

.price-placeholder::placeholder {
    font-size: 17px;
    line-height: 30px;
    font-family: "PT Sans", Arial, sans-serif;
    color: #000000;
    font-weight: normal;
    background-color: #f7f3ec;
}

.filter ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 15px;
    line-height: 20px;
    font-family: "PT Sans", Arial, sans-serif;
    text-transform: uppercase;
}

ul.filter-brand {
    padding-bottom: 2px;
    border-bottom: 1px solid #e5e5e5;
}

ul.sort-power {
    margin-bottom: 63px;
}

.filter-option {
    margin-bottom: 20px;
    padding-left: 32px;
}

.filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: -30px;
    top: 0;
    width: 23px;
    height: 23px;
    background-image: url(../img/checkbox-off.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-checkbox:hover + label::before {
    background-image: url(../img/checkbox-off-hover.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-checkbox:checked + label::after {
    content: "";
    position: absolute;
    top: 0px;
    left: -30px;
    width: 27px;
    height: 23px;
    background-image: url(../img/checkbox-on.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-checkbox:checked:hover + label::after {
    content: "";
    position: absolute;
    top: 0px;
    left: -30px;
    width: 27px;
    height: 23px;
    background-image: url(../img/checkbox-on-hover.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input:hover + label,
.filter-input:focus + label {
    color: #000000;
    outline: 1px auto rgb(77, 144, 254);
}

.filter-input:disabled + label {
    color: rgba(0, 0, 0, 0.4);
    background-image: url(../img/checkbox-on-hover.svg);
    background-repeat: no-repeat;
    background-position: -30px 0;
    opacity: 0.3;
}

.filter-input-radio + label::before {
    content: "";
    position: absolute;
    left: -35px;
    top: -4px;
    width: 16px;
    height: 16px;
    border: 5px solid #c5c5c5;
    border-radius: 50%;
}

.filter-input-radio:hover + label::before {
    border: 5px solid #b5b5b5;
}


.filter-input-radio:disabled + label::before {
    border: 5px solid rgba(181, 181, 181, 0.3);
}

.filter-input-radio:checked + label::after {
    content: "";
    position: absolute;
    top: 4px;
    left: -27px;
    width: 10px;
    height: 10px;
    background-color: #c5c5c5;
    border-radius: 50%;
}

.filter-input-radio:checked:hover + label::after {
    background-color: #b5b5b5;
}

.filter-input-radio:checked:disabled + label::after {
    background-color: rgba(181, 181, 181, 0.3);
}

.filter-button {
    width: 140px;
    padding-top: 10px;
    padding-bottom: 8px;
    font-size: 13px;
    line-height: 18px;
    font-family: "PT Sans", Arial, sans-serif;
    text-transform: uppercase;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
}

.catalog-sort {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 700px;
    margin-bottom: 20px;
    padding-top: 11px;
    padding-bottom: 8px;
    background-color: #f7f3ec;
}

.catalog-sort h2 {
    margin: 0;
    margin-left: 18px;
    margin-right: 2px;
    padding: 0;
    width: 220px;
    font-size: 13px;
    line-height: 18px;
    font-family: "PT Sans", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    background-color: #f7f3ec;
}

.sort {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 470px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sort a {
    display: block;
    font-size: 13px;
    line-height: 18px;
    font-family: "PT Sans", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted #ee3643;
}

.catalog-sort a:hover {
    color: rgba(0, 0, 0, 1);
    border-bottom: 1px solid #ee3643;
}

.catalog-sort a:focus {
    color: #ee3643;
    border: none;
}

.catalog-sort a:active {
    color: #ee3643;
}

.sort-current a {
    color: #ee3643;
    border: none;
    margin-right: 70px;
}

.sort-type a {
    margin-right: 66px;
}

.sort-function {
    margin-right: 44px;
}

a.arrow,
a.arrow:hover,
a.arrow:focus,
a.arrow:active {
    border-bottom: none;
    margin-top: 2px;
}

.arrow::before {
    content: "";
    display: block;
    border-bottom: none;
    border-top-width: 12px;
    border-bottom-width: 12px;
    border-style: solid;
    border-bottom-color: #c5c5c5;
    border-top-color: #c5c5c5;
    border-right-width: 6px;
    border-left-width: 6px;
    border-right-color: transparent;
    border-left-color: transparent;
}

.arrow-current::before {
    border-bottom-color: #ee3643;
    border-style: solid;
    border-bottom-width: 12px;
    border-top-color: #ee3643;
    border-right-width: 6px;
    border-left-width: 6px;
    border-right-color: transparent;
    border-left-color: transparent;
}

.arrow-up::before {
    margin-right: 19px;
    border-top-width: 0;
}

.arrow-down::before {
    border-bottom-width: 0;
}

.arrow:hover::before {
    border: 12px solid #000000;
    border-right-width: 6px;
    border-left-width: 6px;
    border-right-color: transparent;
    border-left-color: transparent;
}

.arrow-up:hover::before {
    border-top-width: 0;
}

.arrow-down:hover::before {
    border-bottom-width: 0;
}

.arrow:focus::before,
.arrow:active::before {
    border: 12px solid #ee3643;
    border-right-width: 6px;
    border-left-width: 6px;
    border-right-color: transparent;
    border-left-color: transparent;
}

.arrow-up:focus::before,
.arrow-up:active::before {
    border-top-width: 0;
}

.arrow-down:focus::before,
.arrow-down:active::before {
    border-bottom-width: 0;
}

.catalog {
    width: 700px;
}

.catalog-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 32px;
    padding: 0;
    list-style: none;
}

.inner-page .catalog-item {
    margin-bottom: 20px;
}

.inner-page .catalog-item:nth-child(3n) {
    margin-right: 0;
}

.pagination-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.pagination-item {
    margin-right: 10px;
}

.pagination-item:last-child {
    margin-right: 0;
}

.pagination-list a {
    display: block;
    padding: 9px 15px;
    font-size: 13px;
    line-height: 18px;
    font-family: "PT Sans", Arial, sans-serif;
    text-transform: uppercase;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

.pagination-item-next a {
    padding: 9px 30px;
}

.pagination-list a:hover {
    border: 1px solid #bdc6ca;
}

.pagination-list a:focus {
    border: 1px solid #ee3643;
}

.pagination-item-current a {
    color: #ffffff;
    background-color: #ee3643;
    border: none;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
    color: #ffffff;
    background-color: #ee3643;
    border: none;
}

.about-perforator {
    background-color: #f2f6f8;
    padding-top: 65px;
    padding-bottom: 68px;
}

.about-perforator h2 {
    margin: 0;
    margin-bottom: 26px;
    padding: 0;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
    font-weight: normal;
}

.about-perforator p {
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 24px;
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: normal;
    color: #000000;
    text-align: justify;
}

.main-footer {
    margin-top: 86px;
}

.inner-page .main-footer {
    margin-top: 0px;
}

.footer-top {
    background-color: #32425c;
}

.navigation-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 27px;
}

.footer-logo {
    display: block;
    margin-right: auto;
    width: 220px;
    padding-top: 18px;
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    background-color: #ee3643;
    -webkit-box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
    box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
}

.footer-site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 550px;
    margin: 0;
    padding: 0;
    margin-top: 37px;
    margin-left: auto;
}

.footer-site-navigation a {
    display: block;
}

.footer-contact-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 50px;
}

.footer-contact-info {
    width: 330px;
    margin: 0;
    padding: 0;
    margin-left: 3px;
}

.footer-catalog-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 525px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-left: auto;
}

.footer-site-navigation,
.footer-catalog-navigation,
.footer-contact-info {
    font-size: 18px;
    line-height: 24px;
}

.footer-site-navigation a,
.footer-contact-info {
    color: #f3f7f9;
}

.footer-site-navigation,
.footer-catalog-navigation {
    list-style: none;
}

.footer-catalog-navigation a {
    color: #ffd180;
}

.footer-site-navigation a:hover,
.footer-catalog-navigation a:hover {
    text-decoration: underline;
}

.footer-site-navigation a:focus,
.footer-catalog-navigation a:focus {
    opacity: 0.5;
}

.footer-bottom {
    padding-top: 35px;
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
    background-color: #293449;
}

.footer-bottom-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer-copyright {
    width: 230px;
    margin: 0;
    margin-right: 160px;
    padding: 0;
    font-size: 16px;
    line-height: 18px;
}

.footer-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 132px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    margin-right: 119px;
    padding: 0;
    list-style: none;
    text-align: center;
}

.social-btn-vk {
    width: 26px;
    height: 15px;
    background-image: url(../img/vk-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.social-btn-fb {
    width: 12px;
    height: 22px;
    background-image: url(../img/fb-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.social-btn-in {
    width: 21px;
    height: 21px;
    background-image: url(../img/insta-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.social-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    color: #ffffff;
    background-color: #212a3a;
    border-radius: 50%;
}

.footer-social a:hover,
.footer-social a:focus {
    background-color: #ee3643;
}

.footer-contacts {
    margin-right: 51px;
    font-size: 16px;
    line-height: 18px;
}

.footer-development {
    font-size: 16px;
    line-height: 18px;
}

.footer-contacts p,
.footer-development p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 18px;
}

.footer-contacts-link,
.footer-development-link {
    display: block;
    margin: 0;
    padding: 0;
    color: #ffd180;
}

.footer-contacts-link:hover,
.footer-development-link:hover {
    text-decoration: underline;
}

.footer-contacts-link:focus,
.footer-development-link:focus {
    color: #ee3643;
}

.modal-feedback {
    display: none;
    position: fixed;
    width: 620px;
    top: calc(50% - 215px);
    left: calc(50% - 315px);
    background-color: #ffffff;
    -webkit-box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75), inset 0 7px 0 #ee3643;
    box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75), inset 0 7px 0 #ee3643;
    z-index: 30;
}

.feedback-wrap-white {
    width: 460px;
    padding-top: 54px;
    padding-left: 81px;
    padding-right: 79px;
}

.feedback-wrap-grey {
    width: 460px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 37px;
    background-color: #f1f1f1;
}

.feedback-item {
    font-size: 18px;
    line-height: 18px;
    color: #000000;
}

.style-placeholder::-webkit-input-placeholder {
    font-size: 13px;
    line-height: 18px;
    color: #a9a9a9;
    font-family: "PT Sans", Arial, sans-serif;
}

.style-placeholder::-ms-input-placeholder {
    font-size: 13px;
    line-height: 18px;
    color: #a9a9a9;
    font-family: "PT Sans", Arial, sans-serif;
}

.style-placeholder:-ms-input-placeholder {
    font-size: 13px;
    line-height: 18px;
    color: #a9a9a9;
    font-family: "PT Sans", Arial, sans-serif;
}

.style-placeholder::placeholder {
    font-size: 13px;
    line-height: 18px;
    color: #a9a9a9;
    font-family: "PT Sans", Arial, sans-serif;
}

.modal-close {
    position: absolute;
    top: 16px;
    right: 8px;
    width: 26px;
    height: 26px;
    font-size: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    z-index: 3;
}

.modal-close::before,
.modal-close::after {
    content: "";
    position: absolute;
    top: 9px;
    left: 1px;
    width: 26px;
    height: 4px;
    background-color: #ee3643;
}

.modal-close::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.modal-close::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.feedback-login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 21px;
}

.feedback-form p {
    margin: 0;
    padding: 0;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form textarea {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 220px;
    padding: 7px 15px;
    font-size: 13px;
    line-height: 18px;
    font-family: "PT Sans", Arial, sans-serif;
    color: #a9a9a9;
    border: 2px solid #d7dcde;
    border-radius: 3px;
    outline: 0;
}

.feedback-form input[type="text"]:hover,
.feedback-form input[type="email"]:hover,
.feedback-form textarea:hover {
    border: 2px solid #b5b5b5;
}

.feedback-form input[type="text"]:focus,
.feedback-form input[type="email"]:focus,
.feedback-form textarea:focus {
    border: 2px solid #ee3643;
}

.feedback-form textarea {
    width: 460px;
    margin-bottom: 37px;
}

.feedback-form label {
    display: block;
    margin-bottom: 11px;
}

.button-wrap {
    background-color: #f4f4f4;
}

.feedback-btn {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 37px;
}

.modal-map {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 940px;
    height: 446px;
    margin-top: -223px;
    margin-left: -470px;
    -webkit-box-shadow: 0 0 16px rgba(47, 42, 43, 0.5);
    box-shadow: 0 0 16px rgba(47, 42, 43, 0.5);
}

.modal-map img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin: 0;
}

.modal-map iframe {
    position: relative;
    width: 940px;
    height: 446px;
    z-index: 2;
    border: none;
}

.modal-basket {
    display: none;
    position: fixed;
    width: 620px;
    top: calc(50% - 215px);
    left: calc(50% - 315px);
    background-color: #ffffff;
    -webkit-box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75), inset 0 7px 0 #ee3643;
    box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75), inset 0 7px 0 #ee3643;
    z-index: 33;
}

.wrap-white {
    width: 460px;
    padding-top: 73px;
    padding-left: 81px;
    padding-right: 79px;
}

.wrap-grey {
    width: 460px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 37px;
    background-color: #f1f1f1;
}

.modal-basket p {
    position: relative;
    margin: 0;
    padding: 0;
    padding-left: 98px;
    padding-bottom: 67px;
    font-size: 30px;
    line-height: 30px;
    color: #000000;
}

.modal-basket p::before {
    content: "";
    position: absolute;
    top: -18px;
    left: 0px;
    width: 66px;
    height: 66px;
    background-image: url(../img/form-1.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.modal-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 37px;
}

.modal-button button {
    width: 220px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.modal-button button:last-child {
    margin-left: 20px;
    color: #000000;
    background-color: #ffffff;
}

.modal-show {
    display: block;
    -webkit-animation: bounce 0.6s;
    animation: bounce 0.6s;
}

.modal-error {
    -webkit-animation: shake 0.6s;
    animation: shake 0.6s;
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(-2000px);
        transform: translateY(-2000px);
    }
    70% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }
    90% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: translateY(-2000px);
        transform: translateY(-2000px);
    }
    70% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }
    90% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes shake {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
}

@keyframes shake {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
}

